<span>{{tableData$| async}}</span>

<ng-container matColumnDef="expandedDetail">
    
  <!--   [attr.colspan]="tableColumnNames$.length |async" -->

    <td
      mat-cell
      *matCellDef="let element"
    
    >
    <!-- schaut ob object gleicht sind  -->
      <div
        class="example-element-detail"
        [@expandTrigger]="element === expandedElement ? 'expanded' : 'collapsed'"
      >
        <div class="example-element-diagram">
          <div class="example-element-position">{{ element.position }}</div>
          <div class="example-element-symbol">{{ element.symbol }}</div>
          <div class="example-element-name">{{ element.name }}</div>
          <div class="example-element-weight">{{ element.weight }}</div>
        </div>
        <div class="example-element-description">
          {{ element.description }}
          <span class="example-element-description-attribution">
            -- Wikipedia
          </span>
        </div>
      </div>
    </td>
  </ng-container>
  <!-- for row expand -->
  
  
  <tr mat-header-row *matHeaderRowDef="tableColumnNames$ |async"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: tableColumnNames$ |async"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
